<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 padb15" >

            <!-- <kt-widget14 [title]="'Campus'" [desc]="'Test'" [data]="barchartData" ></kt-widget14> -->
            <!-- <kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'" [data]="barchartData" ></kt-widget14> -->
      
       <kt-progress-bar></kt-progress-bar>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 padb15">
        <kt-bar-chart></kt-bar-chart>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 padb15">
    <kt-doughnut-chart></kt-doughnut-chart>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
           
                            <kt-college-budget-summary></kt-college-budget-summary>
                   

    </div>
</div>
