// body {
//     background: #e2e1e0;
//     text-align: center;
//   }
  
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    margin: 1rem;
    position: relative;
    width: 600px;
  }

  .cardShadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form {
    width: 100%;
    max-width: 300px !important;
}