<!--begin::Head-->
<!-- <div class="kt-login__head">
	<span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
	<a href="javascript:;" routerLink="/auth/register" class="kt-link kt-login__signup-link">{{ 'AUTH.GENERAL.SIGNUP_BUTTON' | translate }}</a>
</div> -->
<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body" style="height:90%" >
	<!--begin::Signin-->
	
	<div class="kt-login__form">
		<div style="background-color: #b10069;;background-image: url(./assets/media/logos/logoCOD.png);width:285px; height: 85px;background-position: center; background-repeat: no-repeat;margin-bottom: 10px;">

		</div>

		<div class="kt-login__title">
			<h5>Sign In To PROMPTed</h5>
		</div>

		<!-- <kt-auth-notice></kt-auth-notice> -->

		<!--begin::Form-->
		<!-- <div class="card cardShadow" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);" > -->
				<form class="kt-form" [formGroup]="loginForm" autocomplete="off" style="text-align: center;">
						<div class="form-group">
							<mat-form-field>
								<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
								<input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="email" autocomplete="off"/>
								<mat-error *ngIf="isControlHasError('email','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
								<mat-error *ngIf="isControlHasError('email','email')">
									<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
								</mat-error>
								<mat-error *ngIf="isControlHasError('email','minLength')">
									<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
								</mat-error>
								<mat-error *ngIf="isControlHasError('email','maxLength')">
									<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
								<input matInput type="password" placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}" formControlName="password" autocomplete="off"/>
								<mat-error *ngIf="isControlHasError('password','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
								<mat-error *ngIf="isControlHasError('password','minLength')">
									<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
								</mat-error>
								<mat-error *ngIf="isControlHasError('password','maxLength')">
									<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<!--begin::Action-->
						<div>
							<div style="text-align: left;width: 50%; float:left">
									<label class="checkbox-inline">
											<input type="checkbox" value="">Remember me
										  </label>
										</div>
							<div style="text-align: right;width: 50%; float:right"><a href="javascript:;" routerLink="/auth/forgot-password" class="kt-link kt-login__link-forgot">
							{{ 'AUTH.GENERAL.FORGOT_BUTTON' | translate }}
						</a></div>
					</div>
						<div class="kt-login__actions" style="text-align: center;" >
							
							<button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" style="border-radius: 25px;">{{ 'AUTH.LOGIN.BUTTON' | translate }}</button>
						</div>
						<!--end::Action-->

						<div>
								<div style="text-align: left;width: 60%; float:left">
										<label class="checkbox-inline">
												
Don't have an account yet ?
											  </label>
											</div>
								<div style="text-align: right;width: 40%; float:right"><a href="javascript:;" routerLink="/auth/forgot-password" class="kt-link kt-login__link-forgot">
									Sign Up
							</a></div>
						</div>
					</form>
		
				<!-- </div> -->
		<!--end::Form-->

		<!--begin::Divider-->
		<!-- <div class="kt-login__divider">
			<div class="kt-divider">
				<span></span>
				<span>OR</span>
				<span></span>
			</div>
		</div> -->
		<!--end::Divider-->

		<!--begin::Options-->
		<!-- <div class="kt-login__options">
			<a href="https://www.facebook.com/keenthemes/" target="_blank" class="btn btn-primary kt-btn">
				<i class="fab fa-facebook-f"></i>
				Facebook
			</a>

			<a href="https://twitter.com/keenthemes/" target="_blank" class="btn btn-info kt-btn">
				<i class="fab fa-twitter"></i>
				Twitter
			</a>

			<a href="javascript:;" class="btn btn-danger kt-btn">
				<i class="fab fa-google"></i>
				Google
			</a>
		</div> -->
		<!--end::Options-->
   
	</div>

	<!--end::Signin-->

</div>
<div style="text-align: center;">
	<b>Powered by</b>
	<div class="align-items-center"  style="background-image: url(./assets/media/logos/UserLogo1.jpg);width:100%; height: 45px;background-position: center; background-repeat: no-repeat;">

	</div>
</div>

<!--end::Body-->
