.kt-portlet__head-icon{
    color: #000 !important;
}

.dx-treelist-headers .dx-treelist-table .dx-row{
    font-weight: 500 !important;
    color:#000 !important;
}

.dx-treelist-cell-expandable{
    color:#000 !important;
    }
    .dx-treelist-rowsview .dx-treelist-expanded span {
    color:#000 !important;
    }
    .dx-treelist-rowsview .dx-treelist-collapsed span{
        color:#000 !important;
    }

    .dx-treelist-nowrap .dx-header-row > td > .dx-treelist-text-content {
        color: #000 !important;
        font-weight: 500 !important;
    }

    .dx-treelist-rowsview.dx-treelist-nowrap .dx-treelist-table .dx-treelist-cell-expandable .dx-treelist-text-content{
        color: #000 !important;
        font-weight: 500 !important;
    }