<kt-portlet [class]="'kt-portlet--height-fluid'">
		<kt-portlet-body>
<!-- <div class="card" >
		<div class="card-body"> -->
		  <h2 class="card-title"> <button class="btn"><i class="fa fa-bars"></i></button>
			Campus Info</h2>
		  <hr>
		  <h6>Campus Name</h6>
		  <h4>Anaheim Campus</h4>
		  <br>
		  <h6>Bond Program Name</h6>
		  <h4>Local Bond 8372.JC.Orange County</h4><br>
		  <h6>Bond Amount</h6>
		  <h4>$23,508,582.12</h4><br>
		  <h6>Current Series Amount</h6>
		  <h4>$23,508,582.12</h4>
		<!-- </div>
	  </div> -->
	  </kt-portlet-body>
	  </kt-portlet>
