<kt-portlet [class]="'kt-portlet--height-fluid'">
	<div class="kt-portlet__head">
	<div class="kt-portlet__head-label">
		<h3 class="kt-portlet__head-title"><span class="kt-portlet__head-icon">
				<i class="fas fa-sliders-h"></i>
			</span>Campus Info</h3>
	</div>
</div>

	<kt-portlet-body>
		<div class="form-group">
			<label for="exampleInputEmail1">Campus Name</label>
			<div calss="fontwt">Anaheim Campus</div>
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Bond Program Name</label>
			<div calss="fontwt">Local Bond 8372.JC.Orange County</div>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Bond Amount</label>
			<div>$23,508,582.12</div>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Current Series Amount</label>
			<div>$23,508,582.12</div>
		</div>

	</kt-portlet-body>
</kt-portlet>