<div class="container" >
		<div class="row">
				<div class="col-sm-12 col-md-5 col-lg-5 padb15">
						<kt-portlet [class]="'kt-portlet--height-fluid overflow-auto'">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title"><span class="kt-portlet__head-icon">
											</span>Measure J Bond</h3>
									</div>

									<div class="kt-portlet__head-label">
											<i class="fas fa-ellipsis-h"></i>
									</div>
								</div>
								<kt-portlet-body>
										<div class="kt-widget14">
												<div class="kt-widget14__content">
													<div class="kt-widget14__chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
														<div class="kt-widget14__stat">88</div>

													<canvas #chart id="kt_chart_profit_share" style="height: 140px; width: 140px; display: block;" width="140" height="140" class="chartjs-render-monitor"></canvas></div>
													<!-- <div class="kt-widget14__legends">
														<div class="kt-widget14__legend">
															<span class="kt-widget14__bullet kt-bg-success"></span>
															<span class="kt-widget14__stats">37% Sport Tickets</span>
														</div>
														<div class="kt-widget14__legend">
															<span class="kt-widget14__bullet" style="background-color: #F53392;"></span>
															<span class="kt-widget14__stats">47% Business Events</span>
														</div>
														<div class="kt-widget14__legend">
															<span class="kt-widget14__bullet kt-bg-brand"></span>
															<span class="kt-widget14__stats">19% Others</span>
														</div>
													</div> -->
												</div>
											</div>
	</kt-portlet-body>
	</kt-portlet>
	</div>
	</div>
</div>
