::ng-deep #Campusgrid {
    max-height: 430px;
}
// .dx-command-select {
//     width: 20px !important;
//     min-width: 20px !important;
// }
.dx-command-select {
    width: 20px!important;
    min-width: 20px!important;
}
