<dx-button id="gridDeleteSelected" [height]="34" icon="trash" [disabled]="!selectedItemKeys.length" (onClick)="deleteRecords()"></dx-button>

<dx-data-grid
	id="Campusgrid"
	[dataSource]="dataSource"
	[showBorders]="true"
	(onSelectionChanged)="selectionChanged($event)"
	(onRowInserting)="OnRowInserting($event)"
	(onRowUpdating)="onRowUpdating($event)"
	>

	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-scrolling
    columnRenderingMode="virtual"
    showScrollbar="always"
  ></dxo-scrolling>


	<dxo-editing
		mode="cell"
		[allowUpdating]="true"
		[allowAdding]="true">
	</dxo-editing>
	<dxo-selection mode="multiple" ></dxo-selection>

	<dxi-column dataField="campusName" caption="Name"></dxi-column>
	<dxi-column dataField="accountCode" alignment="left" caption="Code"></dxi-column>
</dx-data-grid>

