
  #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 50px;
    height: 36px;
}
.dx-command-select {
    width: 40px!important;
    min-width: 40px!important;
}


i.dx-icon.dx-icon-trash{
    color:red;
  }
