::ng-deep .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}
::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}
::ng-deep .option {
    width: 33%;
    display: inline-block;
    margin-top: 10px;
}

#FundsAllocationGrid{
    height: 500px;
}

.backwhite{
    background-color: white;
}

.gridheading{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    padding: 15px;
}

// .dx-widget {
//     // color: #000 !important;
//     // font-weight: 600 !important; 
//     // font-size: 14px !important; 
//     // font-family: "Poppins" !important;
// }
.dx-pivotgrid .dx-pivotgrid-area td{
    color: #000 !important;
}

.dx-pivotgrid td.dx-total span{
    color: #000 !important;
}

.dx-pivotgrid-horizontal-headers{
    font-weight: 500;
    color: #000;
}

.dx-pivotgrid .dx-pivotgrid-horizontal-headers td span{
    font-weight: 500 !important;
    color: #000 !important;
}

.hRefLink span{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

.hRefLink span:hover{}
.hRefLink span:active{}
.hRefLink span:visited{}



