	<kt-portlet [class]="'kt-portlet--height-fluid'">
		<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title"><span class="kt-portlet__head-icon">
							<i class="fas fa-address-book"></i>
						</span>Contacts</h3>
				</div>

			<div class="kt-portlet__head-label">
					<i class="fas fa-ellipsis-h"></i>
			</div>
		</div>
	<!-- <kt-portlet-body>
		<div class="row pad-b15" >
			<div class="col-xs-12 col-md-4">
				<div>
					Project Manager
				</div>
			</div> -->
		<kt-portlet-body>
			<div class="row" >
				<div class="col-xs-12 col-md-4">
					<div>
						Project Manager
					</div>
				</div>

			<div  class="col-xs-12 col-md-8">
				<div>
					<div class="title">Jerry Jones</div>
					<div class="emaillink">jerryjones@cod.org</div>
					<div class="">714.948.5938</div>
				</div>
			</div>
		</div>
		<div class="row pad-b15" >
				<div class="col-xs-12 col-md-4">
					<div>
							Architect

					</div>
				</div>

				<div  class="col-xs-12 col-md-8">
					<div>
						<div class="title">Suzie Wallard</div>
						<div class="emaillink">suzie.wallard@cod.org</div>
						<div class="">714.578.1235</div>
					</div>
				</div>
			</div>
			<div class="row pad-b15" >
					<div class="col-xs-12 col-md-4">
						<div>
								General Contractor

						</div>
					</div>

					<div  class="col-xs-12 col-md-8">
						<div>
							<div class="title">George Jones</div>
							<div class="emaillink">george.jones@cod.org</div>
							<div class="">714.895.4587</div>
						</div>
					</div>
				</div>
				<div class="row pad-b15" >
						<div class="col-xs-12 col-md-4">
							<div>
									Finance Manager

							</div>
						</div>

						<div  class="col-xs-12 col-md-8">
							<div>
								<div class="title">Harry Williams</div>
								<div class="emaillink">harry.williams@cod.org</div>
								<div class="">748.314.9850</div>
							</div>
						</div>
					</div>
					<div class="row pad-b15" >
							<div class="col-xs-12 col-md-4">
								<div>
										Program Manager

								</div>
							</div>

							<div  class="col-xs-12 col-md-8">
								<div>
									<div class="title">Oscar Miller</div>
									<div class="emaillink">oscar.miller@cod.org</div>
									<div class="">752.525.3434</div>
								</div>
							</div>
						</div>
						<div class="row pad-b15"  >
								<div class="col-xs-12 col-md-4">
									<div>
											District Accountant

									</div>
								</div>

								<div  class="col-xs-12 col-md-8">
									<div>
										<div class="title">Jack Wilson</div>
										<div class="emaillink">jack.wilson@cod.org</div>
										<div class="">712.257.0186</div>
									</div>
								</div>
							</div>
	</kt-portlet-body>
</kt-portlet>
