<kt-portlet [class]="'kt-portlet--height-fluid'">
	<!-- <kt-portlet-header [title]="'Notes'">
		<ng-container>
			<button class="btn"><i class="fas fa-phone-alt" style="font-size:24px"></i></button>
		</ng-container>
	</kt-portlet-header> -->

	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title"><span class="kt-portlet__head-icon">
					<i class="fas fa-sticky-note"></i>
				</span>Notes</h3>
		</div>
		<div class="kt-portlet__head-label">
			<i class="fas fa-ellipsis-h"></i>
		</div>
	</div>
	<kt-portlet-body>
		<div class="form-inline">
			<mat-checkbox>Check me!</mat-checkbox>
		</div>

		<div class="form-inline">
			<mat-checkbox>Lorem Ipsum!</mat-checkbox>
		</div>

		<div class="form-inline">
			<mat-checkbox>Make Metronic great again.</mat-checkbox>
			<div></div>
		</div>

		<div class="form-inline">
			<mat-checkbox>Make Metronic great again.</mat-checkbox>
		</div>

		<div class="form-inline">
			<mat-checkbox>Make Metronic great again.</mat-checkbox>
		</div>
	</kt-portlet-body>
</kt-portlet>