
.mat-checkbox-label{
    font-size: 13px;
    font-weight: 600 !important;
    font-family: Poppins !important;
}

.mat-checkbox-layout .mat-checkbox-label{
    font-size: 13px;
    font-weight: 600 !important;
    font-family: Poppins !important;

}