<!-- begin::Offcanvas Toolbar Quick Actions -->
<div class="kt-section">
    <div class="kt-section__content">
      <!-- <ng-template let-c="close" let-d="dismiss"></ng-template> -->
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
           
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" >Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      <!-- </ng-template> -->
   
    </div>
  </div>
  