			<div class="">
				<span id="gridHeaderTitle" >Funds</span>
				<dx-button id="gridDeleteSelected" icon="trash" [height]="36" [disabled]="!selectedItemKeys.length"
				(onClick)="deleteRecords()">
			</dx-button>
				<dx-data-grid id="Fundgrid" #Fundgrid [dataSource]="dataSource" 
				[showBorders]="true"
				[showRowLines]="true"
				[showColumnLines]="false"
                [showColumnHeaders]="true"
				(onSelectionChanged)="selectionChanged($event)"
				(onRowInserting)="OnRowInserting($event)"
				(onRowUpdating)="onRowUpdating($event)"
				(onRowExpanding)=onRowExpanding($event)
				[masterDetail]="{ enabled: true, template: 'fundSeries' }"
				(onContentReady)="onContentReady($event)"
				>
				<dxo-selection mode="multiple"></dxo-selection>
				<!-- <dxo-scrolling mode="standard"></dxo-scrolling> -->
				<dxo-load-panel [enabled]="true"></dxo-load-panel>
				<dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="true">
				</dxo-editing>
				<dxi-column dataField="fundName" caption="Name" cellTemplate="BoldCellTemplate">
						<dxi-validation-rule type="required"></dxi-validation-rule>
				</dxi-column>
				<dxi-column [allowEditing]="false"  dataType="date"  dataField="startDate"  caption="Start Date">
				</dxi-column>
				<dxi-column  [allowEditing]="false"  dataType="date" dataField="endDate" caption="End Date">
				</dxi-column>
				<dxi-column dataField="fundCode" caption="Code" alignment="left">
						<dxi-validation-rule type="required"></dxi-validation-rule>
				</dxi-column>

				<div *dxTemplate="let series of 'fundSeries'" class="masterdetail">
					
					<dx-data-grid #fundSeries [dataSource]="fundSeriseDataSource" 
					[showBorders]="true"
					[showRowLines]="true"
					[showColumnLines]="false"
					(onSelectionChanged)="selectionChanged($event)"
					(onRowInserting)="OnRowInsertingFundSeries($event)"
					(onRowUpdating)="onRowUpdatingFundSeries($event)"
					[remoteOperations]="true"
					[showColumnHeaders]="false"
					(onContentReady)="onMasterdetailReady($event)"
					class="masterdetail"
					>
					<dxo-load-panel [enabled]="true"></dxo-load-panel>
					<!-- <dxo-scrolling mode="standard"></dxo-scrolling> -->
						<dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="true">
						</dxo-editing>
						<dxo-selection mode="multiple"></dxo-selection>
						<dxi-column dataField="seriesName" >
								<dxi-validation-rule type="required"></dxi-validation-rule>
						</dxi-column>
						<dxi-column dataField="startDate" dataType="date">
								<dxi-validation-rule type="required"></dxi-validation-rule>
						</dxi-column>
						<dxi-column dataField="endDate" dataType="date">
								<dxi-validation-rule type="required"></dxi-validation-rule>
						</dxi-column>
						<dxi-column dataField="accountCode" alignment="left">
								<dxi-validation-rule type="required"></dxi-validation-rule>
						</dxi-column>
					</dx-data-grid>
				</div>

				<div *dxTemplate="let d of 'BoldCellTemplate'">
						<div class="current-value">
							<b>{{d.value}}</b></div>
					</div>

			</dx-data-grid>
		</div>
	
