  <dx-button id="gridDeleteSelected" icon="trash" [height]="36" [disabled]="!selectedItemKeys.length"
	(onClick)="deleteRecords()">
</dx-button>


<dx-data-grid id="Fundgrid" [dataSource]="dataSource" showBorders="true"
	(onSelectionChanged)="selectionChanged($event)"
	(onRowInserting)="OnRowInserting($event)"
	(onRowUpdating)="onRowUpdating($event)"
	(onRowExpanding)=onRowExpanding($event)
	[masterDetail]="{ enabled: true, template: 'fundSeries' }"
	(onContentReady)="onContentReady($event)"
	>

	<dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
	<!-- <dxo-scrolling columnRenderingMode=""></dxo-scrolling> -->
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="true">
	</dxo-editing>
	<dxo-selection mode="multiple"></dxo-selection>

	<dxi-column dataField="name" caption="Name">
	</dxi-column>
	<dxi-column  [allowEditing]="false" dataType="date" caption="created Date">
	</dxi-column>
	<dxi-column dataField="fundAccessLevel" caption="Fund Access Level">
	</dxi-column>
	<dxi-column dataField="createdByUserId" caption="Code">
	</dxi-column>

	<div *dxTemplate="let series of 'fundSeries'" class="masterdetail">

		<dx-data-grid [dataSource]="fundSeriseDataSource" showBorders="true"
		(onSelectionChanged)="selectionChanged($event)"
		(onRowInserting)="OnRowInsertingFundSeries($event)"
		(onRowUpdating)="onRowUpdatingFundSeries($event)"
		class="masterdetail">
			<dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="true">
			</dxo-editing>
			<dxo-selection mode="multiple"></dxo-selection>
			<dxi-column dataField="name" caption="Name">
			</dxi-column>
			<dxi-column dataField="startDate" caption="Start Date" dataType="date">
			</dxi-column>
			<dxi-column dataField="endDate" caption="End Date" dataType="date">
			</dxi-column>
			<dxi-column dataField="acctCode" caption="Code">
			</dxi-column>
		</dx-data-grid>
	</div>
	<!--
    <dxo-summary>
        <dxi-total-item
            column="Freight"
            summaryType="sum">
            <dxo-value-format
                type="decimal"
                [precision]="2"
            ></dxo-value-format>
        </dxi-total-item>
        <dxi-group-item
            column="Freight"
            summaryType="sum">
            <dxo-value-format
                type="decimal"
                [precision]="2"
            ></dxo-value-format>
        </dxi-group-item>
        <dxi-group-item
            summaryType="count">
        </dxi-group-item>
    </dxo-summary> -->
</dx-data-grid>
