
::ng-deep #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 75px;
    height: 36px;
}

.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding: 5px !important;
  }

  .dx-master-detail-cell {
    padding: 5px !important;
  }


  #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 75px;
    height: 36px;
}




