
::ng-deep #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 75px;
    height: 36px;
}

.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding: 5px !important;
  }

  .dx-master-detail-cell {
    padding: 5px !important;
  }


  #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 75px;
    height: 36px;
}

.dx-header-row > td[role="columnheader"]> div.dx-datagrid-text-content {  
  // font-size: 17px;  
  font-weight: bold;  
}

.fontbold{
  font-weight: bold;  
}

i.dx-icon.dx-icon-trash{
  color:red;
}





