
::ng-deep #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 50px;
    height: 36px;
}

.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding: 5px !important;
  }

  .dx-master-detail-cell {
    padding: 5px !important;
  }


  #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 50px;
    height: 36px;
}

.gridHeaderTitle {
  position: absolute;
  z-index: 1;
  left: 50px;
  font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}
.dx-header-row > td[role="columnheader"]> div.dx-datagrid-text-content {
  font-weight: 600 !important;
  font-family: Poppins !important;
  color: #000 !important;
  font-size: 13px !important;
}

.fontbold{
  font-weight: bold;
}

i.dx-icon.dx-icon-trash{
  color:red;
}

#Fundgrid {
  min-height: 500px;
}

#fundSeries .dx-command-select {  
  width: 85px !important;  
}







