<div class="container" >
		<div class="row">
				<div class="col-sm-12 col-md-5 col-lg-5 padb15">
						<kt-portlet [class]="'kt-portlet--height-fluid overflow-auto'">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title"><span class="kt-portlet__head-icon">
											</span>Cypress</h3>
									</div>

									<div class="kt-portlet__head-label">
											<i class="fas fa-ellipsis-h"></i>
									</div>
								</div>
								<kt-portlet-body>
										<div class="kt-widget12">
												<div class="kt-widget12__content">
													<div class="kt-widget12__item">
														<div class="kt-widget12__info">
															<span class="kt-widget12__desc">Cypress</span>
															<span class="kt-widget12__value">$225,921,200</span>
														</div>
														<div class="kt-widget12__info">
															<span class="kt-widget12__desc">Finance Review Date</span>
															<span class="kt-widget12__value">July 24,2019</span>
														</div>
													</div>
													<div class="kt-widget12__item">
														<!-- <div class="kt-widget12__info">
															<span class="kt-widget12__desc">Avarage Revenue</span>
															<span class="kt-widget12__value">$60M</span>
														</div> -->
														<div class="kt-widget12__info">
															<span class="kt-widget12__desc">Change</span>
															<div class="kt-widget12__progress">
																<div class="progress kt-progress--sm">
																	<div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
																</div>
																<span class="kt-widget12__stat">40%</span>
															</div>
														</div>
													</div>
												</div>
												<!-- <div class="kt-widget12__chart" style="height:250px;">
													<canvas #chart id="kt_chart_order_statistics" width="683" height="312"></canvas>
												</div> -->
											</div>
	</kt-portlet-body>
	</kt-portlet>
	</div>
	</div>
</div>















