<div class="container-fluid" style="padding: 50px;">
<div class="row">
		<div class="col-sm-12 col-md-5 col-lg-5 padb15">
			<kt-campus-info></kt-campus-info>
		</div>
		<div class="col-sm-12 col-md-7 col-lg-7 padb15">
			<kt-campus-task></kt-campus-task>

		</div>
	</div>

	<div class="row">
			<div class="col-sm-12 col-md-5 col-lg-5 padb15">
				<kt-campus-contact></kt-campus-contact>
			</div>
			<div class="col-sm-12 col-md-7 col-lg-7 padb15">
					<kt-campus-notes></kt-campus-notes>

			</div>
		</div>
		<div class="row">
				<div class="col-sm-12 col-md-5 col-lg-5 padb15">
						<kt-recent-activities></kt-recent-activities>
				</div>
			</div>
	</div>
