<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<!-- 
      AngularJS has issues that appear on Azure App Service IIS 
      "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."
      A suggested fix that seems to work is below taken from:
      https://stackoverflow.com/questions/42321275/need-to-fix-routing-issue-with-angular-2-running-on-an-azure-app-service
    -->
		<rewrite>
			<rules>
				<rule name="AngularJS Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
		<caching enabled="true" enableKernelCache="true">
			<profiles>
				<add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
			</profiles>
		</caching>
		<staticContent>
   			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
			  <mimeMap fileExtension=".txt" mimeType="'text/plain'" />
		</staticContent>
	</system.webServer>
</configuration>