<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <kt-portlet [class]="'kt-portlet--height-fluid'">
                <kt-portlet-body>
                    <ul  > PERSONAL SETTINGS
                        <li >Profile Info</li>
                        <li >Change Password</li>
                        <li >Login  Images</li>
                        <li >Reset Saved Grid Settings</li>
                    </ul>
                    <ul style="font-weight: bold;"> ADMIN SETTINGS
                        <li >Client settings</li>
                        <li >Users</li>
                        <li >User Roles</li>
						<li >Goal-Function</li>
                        <li><span routerLink="./updateallocations" style="color: #079DE5;">Campus Series Summary</span></li>
                        <li><span routerLink="./adminsettings" style="color: #079DE5;"> Campuses / Funds</span></li>
                    </ul>
                </kt-portlet-body>
            </kt-portlet>
        </div>

        <div class="col-md-10">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
