<div class="col-sm-12 col-md-8 col-lg-8 padb15">
	<kt-portlet [class]="'kt-portlet--height-fluid'">
		<kt-portlet-body>
			<h2 class="card-title">
				<button class="btn"><i class="fa fa-bars"></i></button> Project
				Group Details
			</h2>
			<hr />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">Name</label>
					<div class="result">{{projectObj.displayName}}</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="startDate">Start Date</label>
						<div class="result">{{projectObj.startDate | date : 'dd/MM/yyyy'}}</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="groupNumber">Group Number</label>
						<div class="result">{{projectObj.projectNumber}}</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="endDate">End Date</label>
						<div class="result">{{projectObj.estimatedCompletionDate | date : 'dd/MM/yyyy'}}</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="description">Description</label>
						<div class="result">
								{{projectObj.notes}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Projects</label>
						<div class="result">Study Room Enhancements</div>
						<div class="result">Project # {{projectObj.projectNumber}}</div>
						<div class="result">Phase: Architectural Planning</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1"></label>
						<div class="result">Catalogue Digitization</div>
						<div class="result">Project # {{projectObj.projectNumber}}</div>
						<div class="result">Phase: Breakdown</div>
					</div>
				</div>
			</div>

			<div [hidden]="IsHidden">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="reportStatus"
								>CM/DM Report Status</label
							>
							<div class="result">Active</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="projectBudgetStatus"
								>CM/DM Project Budget Status</label
							>
							<div class="result">On Hold</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="estimateCompleteStatus"
								>CM/DM Estimate at Complete Status</label
							>
							<div class="result">Completing soon.</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<i
				id="toggleBtn"
				[ngClass]="IsHidden ? 'fa fa-chevron-circle-down' : 'fa fa-chevron-circle-up'"
				style="font-size:36px"
				(click)="onSelect()"
			></i>
		</kt-portlet-body>
	</kt-portlet>
</div>
