<div class="col-sm-12 col-md-8 col-lg-8 padb15">
	<kt-portlet [class]="'kt-portlet--height-fluid'">
		<kt-portlet-body>
			<h2 class="card-title">
				<button class="btn"><i class="fa fa-bars"></i></button> Project
				Group Details
			</h2>
			<hr />
			<!-- <table>
				<tr>
					<td>
						<h6>Name</h6>
						<h5>Library Modernization</h5>
					</td>
					<br />

					<td>
						<h6>Start Date</h6>
						<h5>10/20/2019</h5>
					</td>
					<br />
				</tr>
				<hr />
				<tr>
					<td>
						<h6>Group Number</h6>
						<h5>23095</h5>
					</td>
					<br />

					<td>
						<h6>End Date</h6>
						<h5>11/14/2020</h5>
					</td>
					<br />
				</tr>
				<hr />
				<tr>
					<td>
						<h6>Description</h6>
						<h5>Text field for recording of a description</h5>
					</td>
					<br />
				</tr>
				<hr />
				<tr>
					<td>
						<h6>Projects</h6>
						<h5>Study Room Enhancements</h5>
						<h6>Project # 23957</h6>
						<h6>Phase: Architectural Planning</h6>
					</td>
					<br />
					<td>
						<h5>Catalogue Digitization</h5>
						<h6>Project # 48795</h6>
						<h6>Phase: Breakdown</h6>
					</td>
				</tr>
				<hr />
				<tr>
					<td>
						<h6>CM/DM Report Status</h6>
						<h5>Active</h5>
					</td>
					<br />

					<td>
						<h6>CM/DM Project Budget Status</h6>
						<h5>On Hold</h5>
					</td>
					<br />
				</tr>
				<hr />
				<tr>
					<td>
						<h6>CM/DM Estimate at Complete Status</h6>
						<h5>Completing Soon.</h5>
					</td>
					<br />
				</tr>
			</table> -->
<div class="row">
			<div class="col-md-6">
					<div class="form-group">
							<label for="exampleInputEmail1">Name</label>
							<label id="exampleInputEmail1">Library Modernization</label>
						  </div>
			</div>
			<div class="col-md-6">
					<div class="form-group">
							<label for="exampleInputEmail1">Start Date</label>
							<label id="exampleInputEmail1">10/20/2019</label>
						  </div>
				</div>
</div>
		</kt-portlet-body>
	</kt-portlet>
</div>
