<div class="col-sm-12 col-md-8 col-lg-8 padb15">
	<kt-portlet [class]="'kt-portlet--height-fluid'">
		<kt-portlet-body>
			<h2 class="card-title">
				<button class="btn"><i class="fa fa-bars"></i></button> Project
				Group Details
			</h2>
			<hr />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">Name</label>
						<div class="result">Library Modernization</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="startDate">Start Date</label>
						<div class="result">10/20/2019</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="groupNumber">Group Number</label>
						<div class="result">23095</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="endDate">End Date</label>
						<div class="result">11/14/2020</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="description">Description</label>
						<div class="result">
							Text field for recording of a description or other
							important information to be persisted for this
							record.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Projects</label>
						<div class="result">Study Room Enhancements</div>
						<div class="result">Project # 23957</div>
						<div class="result">Phase: Architectural Planning</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<div class="result">Catalogue Digitization</div>
						<div class="result">Project # 48795</div>
						<div class="result">Phase: Breakdown</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="reportStatus">CM/DM Report Status</label>
						<div class="result">Active</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="projectBudgetStatus"
							>CM/DM Project Budget Status</label
						>
						<div class="result">On Hold</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="estimateCompleteStatus"
							>CM/DM Estimate at Complete Status</label
						>
						<div class="result">Completing soon.</div>
					</div>
				</div>
			</div>
		</kt-portlet-body>
	</kt-portlet>
</div>
