// import login css
@import "../../../../assets/css/demo1/pages/login/login-1.css";

kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
}

@media (min-width: 769px) {
.kt-grid > .kt-grid__item {
    // max-width:81% !important;
	/* max-width: 100%;  */
	
}
.kt-login__wrapper{
	// max-width:81% !important;
}
}