<div class="dx-viewport demo-container">
	<span id="gridHeaderTitle" >Projects Groups</span>
<dx-button id="gridDeleteSelected" icon="trash" [disabled]="!selectedItemKeys.length" style="color:red" (onClick)="deleteRecords()"></dx-button>
<dx-button id="gridAddSelected" routerLink="/projectgroups/addprojectgroup" tooltip="Add New Project" >
	<i class="fa fa-plus" aria-hidden="true"></i></dx-button>

<dx-data-grid [dataSource]="dataSource"  #projects
			  [remoteOperations]="true"
			  [showBorders]="true"
			  [showRowLines]="true"
			  [showColumnLines]="false"
			  (onSelectionChanged)="selectionChanged($event)"
			  (onRowUpdating)="onRowUpdating($event)"
			  (onContentReady)="onContentReady($event)"
			  >
	<dxo-paging [pageSize]="10"></dxo-paging>
	<dxo-load-panel [enabled]="true"></dxo-load-panel>

	<dxo-editing mode="cell"
			  [allowAdding]="true"
			  [allowUpdating]="true"
			  [useIcons]="true"
			  >

	</dxo-editing>

	<dxo-selection mode="multiple" ></dxo-selection>

	<dxi-column dataField="displayName" caption="Project Group Name">
	</dxi-column>

	<dxi-column dataField="groupNumber" caption="Group Number" alignment="left">
	</dxi-column>

	<dxi-column dataField="startDate" dataType="date" caption="Start Date">
	</dxi-column>

	<dxi-column dataField="endDate" dataType="date" caption="End Date">
	</dxi-column>

	<dxi-column dataField="notes" caption="Notes">
	</dxi-column>

</dx-data-grid>
</div>
