<div class="dx-viewport demo-container">
        <span id="gridHeaderTitle" >Projects</span>
    <dx-button id="gridDeleteSelected" icon="trash" [disabled]="!selectedItemKeys.length" style="color:red" (onClick)="deleteRecords()"></dx-button>
    <dx-button id="gridAddSelected" routerLink="./addproject" tooltip="Add New Project" >
        <i class="fa fa-plus" aria-hidden="true"></i></dx-button>



    <dx-data-grid [dataSource]="dataSource"  #projects
                  [remoteOperations]="true"
                  [showBorders]="true"
                  [showRowLines]="true"
                  [showColumnLines]="false"
                  (onSelectionChanged)="selectionChanged($event)"
                  (onRowUpdating)="onRowUpdating($event)"
                  (onContentReady)="onContentReady($event)"
                  >

        <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <!-- <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 20]"
            [showInfo]="true">
        </dxo-pager> -->
        <!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->
        <dxo-editing mode="popup"
                  [allowAdding]="true"
				  [allowUpdating]="true"
				  [useIcons]="true"
				  >
				  <dxo-popup
				  title="Edit Project"
				  [showTitle]="true"
				  >
			  </dxo-popup>
				  <dxo-texts  addRow="Add New Project"></dxo-texts>

				  <dxo-form>
						<dxi-item itemType="group" caption="Project Details" [colCount]="2" [colSpan]="2">
							<dxi-item dataField="displayName"></dxi-item>
							<dxi-item dataField="projectNumber"></dxi-item>
							<dxi-item dataField="startDate"></dxi-item>
							<dxi-item dataField="estimatedCompletionDate"></dxi-item>
							<dxi-item dataField="orgCodeId"></dxi-item>
							<dxi-item dataField="statusId"></dxi-item>
						</dxi-item>
						<dxi-item itemType="group" caption="Project Team" [colCount]="3" [colSpan]="2">
							<dxi-item dataField="gccompanyId"></dxi-item>
							<dxi-item dataField="gccontactId"></dxi-item>
							<dxi-item dataField="gcprojectNumber"></dxi-item>
							<dxi-item dataField="aorcompanyId"></dxi-item>
							<dxi-item dataField="aorcontactId"></dxi-item>
							<dxi-item dataField="aorprojectNumber"></dxi-item>
							<dxi-item dataField="iorcompanyId"></dxi-item>
							<dxi-item dataField="iorcontactId"></dxi-item>
							<dxi-item dataField="iorprojectNumber"></dxi-item>
							<dxi-item dataField="cmcompanyId"></dxi-item>
							<dxi-item dataField="cmcontactId"></dxi-item>
							<dxi-item dataField="cmreferenceNumber"></dxi-item>
						</dxi-item>
						<dxi-item itemType="group" caption="Campus Team" [colCount]="2" [colSpan]="2">
								<dxi-item dataField="pmcontactId"></dxi-item>
								<dxi-item dataField="doFcontactId"></dxi-item>
								<dxi-item dataField="fmcontactId"></dxi-item>
								<dxi-item dataField="pgmgrcontactId"></dxi-item>
								<dxi-item dataField="dacontactId"></dxi-item>
								<dxi-item dataField="subNumber"></dxi-item>
								<dxi-item
								dataField="notes"
								editorType="dxTextArea"
								[colSpan]="2"
								[editorOptions]="{ height: 70 }">
							</dxi-item>
						</dxi-item>




						<!-- <dxi-item itemType="group" caption="Home Address" [colCount]="2" [colSpan]="2">
							<dxi-item dataField="StateID"></dxi-item>
							<dxi-item dataField="Address"></dxi-item>
						</dxi-item> -->
					</dxo-form>


		</dxo-editing>
		<!-- <dxo-popup
				title="Employee Info"
				[showTitle]="true"
				[position]="{ my: 'top', at: 'top', of: window }"
               >
            </dxo-popup> -->

		<dxo-selection mode="multiple" ></dxo-selection>


        <dxi-column dataField="displayName" caption="Project Name" cellTemplate="linkCellTemplate">
		</dxi-column>

		<dxi-column dataField="projectNumber" caption="Project Number" alignment="left">
			</dxi-column>


        <!-- <dxi-column dataField="statusId" caption="Status">
        </dxi-column> -->
        <dxi-column dataField="startDate" dataType="date" caption="Start Date">
        </dxi-column>
        <dxi-column dataField="estimatedCompletionDate" dataType="date" caption="Estimated Compleation Date">
        </dxi-column>
        <!-- <dxi-column dataField="bondFundCategoryId" caption="Bond Fund Category" alignment="left">
        </dxi-column> -->
        <dxi-column dataField="orgCodeId" caption="Organization Code" alignment="left">
                <dxo-lookup
                [dataSource]="OrgCode"
                valueExpr="id"
                displayExpr="name">
            </dxo-lookup>
		</dxi-column>
		<dxi-column dataField="statusId" caption="Status" alignment="left">
                <dxo-lookup
                [dataSource]="Statues"
                valueExpr="statusId"
                displayExpr="statusName">
            </dxo-lookup>
		</dxi-column>
		<dxi-column dataField="gccompanyId" caption="GC Company" alignment="left" [visible]="false">
                <dxo-lookup
                [dataSource]="companies"
                valueExpr="companyId"
                displayExpr="companyName">
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="gccontactId" caption="GC Contact" alignment="left" [visible]="false">
                <dxo-lookup
                [dataSource]="contacts"
                valueExpr="contactId"
                displayExpr="contactName">
            </dxo-lookup>
		</dxi-column>
		<dxi-column dataField="aorcompanyId" caption="AOR Company" alignment="left" [visible]="false">
                <dxo-lookup
                [dataSource]="companies"
                valueExpr="companyId"
                displayExpr="companyName">
            </dxo-lookup>
		</dxi-column>

        <dxi-column dataField="aorcontactId" caption="AOR Contact" alignment="left" [visible]="false">
                <dxo-lookup
                [dataSource]="contacts"
                valueExpr="contactId"
                displayExpr="contactName">
            </dxo-lookup>
		</dxi-column>
		<dxi-column dataField="iorcompanyId" caption="IOR Company" alignment="left" [visible]="false">
				<dxo-lookup
				[dataSource]="companies"
				valueExpr="companyId"
				displayExpr="companyName">
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="iorcontactId" caption="IOR Contact" alignment="left" [visible]="false">
				<dxo-lookup
				[dataSource]="contacts"
				valueExpr="contactId"
				displayExpr="contactName">
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="cmcompanyId" caption="CM Company" alignment="left" [visible]="false">
				<dxo-lookup
				[dataSource]="companies"
				valueExpr="companyId"
				displayExpr="companyName">
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="cmcontactId" caption="CM Contact" alignment="left" [visible]="false">
				<dxo-lookup
				[dataSource]="contacts"
				valueExpr="contactId"
				displayExpr="contactName">
			</dxo-lookup>
		</dxi-column>
		<dxi-column dataField="gcprojectNumber" caption="GC Project No" alignment="left" [visible]="false">
			</dxi-column>
			<dxi-column dataField="aorprojectNumber" caption="AOR Project No" alignment="left" [visible]="false">
				</dxi-column>
				<dxi-column dataField="iorprojectNumber" caption="IOR Project No" alignment="left" [visible]="false">
					</dxi-column>
					<dxi-column dataField="cmreferenceNumber" caption="CM Ref No" alignment="left" [visible]="false">
						</dxi-column>
						<dxi-column dataField="pmcontactId" caption="PM Contact" alignment="left" [visible]="false">
								<dxo-lookup
								[dataSource]="contacts"
								valueExpr="contactId"
								displayExpr="contactName">
							</dxo-lookup>
						</dxi-column>

						<dxi-column dataField="doFcontactId" caption="DOF Contact" alignment="left" [visible]="false">
								<dxo-lookup
								[dataSource]="contacts"
								valueExpr="contactId"
								displayExpr="contactName">
							</dxo-lookup>
						</dxi-column>
						<dxi-column dataField="fmcontactId" caption="FM Contact" alignment="left" [visible]="false">
								<dxo-lookup
								[dataSource]="contacts"
								valueExpr="contactId"
								displayExpr="contactName">
							</dxo-lookup>
						</dxi-column>

						<dxi-column dataField="pgmgrcontactId" caption="Program Manager Contact" alignment="left" [visible]="false">
								<dxo-lookup
								[dataSource]="contacts"
								valueExpr="contactId"
								displayExpr="contactName">
							</dxo-lookup>
						</dxi-column>
						<dxi-column dataField="dacontactId" caption="DA Contact" alignment="left" [visible]="false">
								<dxo-lookup
								[dataSource]="contacts"
								valueExpr="contactId"
								displayExpr="contactName">
							</dxo-lookup>
						</dxi-column>
						<dxi-column dataField="subNumber" caption="Sub No" alignment="left" [visible]="false">
							</dxi-column>


		<!-- Hidden Fields -->
		<!-- <dxi-column dataField="projectNumber" caption="Project Number" alignment="left">
			</dxi-column> -->

			<dxi-column dataField="notes" caption="Notes" alignment="left" [visible]="false">
				</dxi-column>




		<div *dxTemplate="let d of 'linkCellTemplate'">
				<div>
					<a href="#" routerLink="./id" style="color: #079DE5;">{{d.value}}</a></div>
			</div>

    </dx-data-grid>
    </div>
